<p id="notice"><%= notice %></p>

<h1>Topics</h1>

<table>
  <thead>
    <%= form_for @topic, :url => {:controller => :topics, :action => :create} do |f| %>
      <%= f.text_field :body, :placeholder => '投稿しよう', :size => '80%', :body => 'topic[body]', :id => 'topic_body' %>
      <%= f.submit "投稿する", :name => 'commit', :disable_with => '投稿する' %>
    <% end %>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.body %></td>
        <td><%= link_to 'いいね', action: 'like', controller: 'topics', id: topic.id  %><%= topic.like %></td>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

