<p id="notice"><%= notice %></p>

<h1>Mini Blog</h1>

<table>
  <thead>
    <%= form_for @topic, :url => {:controller => :topics, :action => :create} do |f| %>
      <%= f.text_field :body, :placeholder => '投稿しよう', :size => '80%', :body => 'topic[body]', :id => 'topic_body' %>
      <%= f.submit "投稿する", :name => 'commit', :disable_with => '投稿する' %>
    <% end %>
  </thead>

  <tbody>
    <% @topics.reverse_each do |topic| %>
      <tr>
        <td><%= topic.id %>.</td>
        <td><%= link_to topic.body, topic %></td>
        <td><%= link_to 'いいね', action: 'like', controller: 'topics', id: topic.id  %>:<%= topic.like %></td>
        <td>コメント数:<%= topic.replies.length %></td>
        <td>更新日時:<%= topic.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

